<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana/Kanji Learning1</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        #kanaKanjiContainer {
            margin-top: 20px;
        }
        .kanaKanjiItem {
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Kana/Kanji Learning2</h1>
    <div id="kanaKanjiContainer">
        {{range .kanaList}}
            <div class="kanaKanjiItem">
                <p><strong>{{.Character}}</strong> - 
                    <input type="text" id = "name" name = "name" required minlength="1" maxlength="4" size = "10" /> 
                </p>
            </div>
        {{end}}
    </div>
</body>
</html>