.title {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.term {
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
}

.definition {
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
    display: none; /* Hide by default */
}

.button {
    text-align: center;
    margin-top: 100px;
}

button {
    color: white;
    background-color: rgb(83, 235, 83);
    padding: 20px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1);
}
